<!-- Footer -->
<hr>

<footer class="sticky-footer my-1 py-1">
  <div class="container my-2">
    <div class="row my-0 py-0 justify-content-center">
       <div class="col-auto my-auto py-0 copyright text-center">
            <span>Copyright &copy; www.OPLearning.org 2020</span>
       </div>
       <div class="col-auto my-auto py-0 copyright text-center">
            <a routerLink="/privacy"><i class="fas fa-user-secret"></i> Privacy</a>
      </div>
      <div class="col-auto my-auto py-0 copyright text-center">
            <a href="https://www.youtube.com/channel/UCUCt4odwRXgvlN3Qkhl7qoQ"><i class="fab fa-youtube"></i> YouTube</a>
      </div>
      <div class="col-auto my-auto py-0 copyright text-center">
            <a href="https://www.instagram.com/onlinepeerlearning/"><i class="fab fa-instagram"></i> Instagram</a>
      </div>
   </div>

  </div>
</footer>

<!-- End of Footer -->

<!-- Footer -->
<!-- <footer class="page-footer font-small blue pt-4 bg-light py-5">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12 py-5">
        <div class="m-sm-0 flex-center">

          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>

    </div>

  </div>



  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a routerLink="/starthere">www.OPLearning.org</a>
  </div>
</footer> -->
<!-- Footer -->
