<!-- Navigation Topbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a routerLink="/starthere"> <img src="../assets/img/LogoOPL.png" width="40" height="40" class="js-scroll-trigger" alt="OPL"> </a>
    &nbsp;&nbsp;
    <a class="navbar-brand js-scroll-trigger" routerLink="/starthere" fragment="page-top">OPL</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/starthere" fragment="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/starthere" fragment="team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/starthere" fragment="join">Join</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#features">Features</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/privacy">Privacy</a>
        </li>
        
        <li>

          <span *ngIf="(current_user == null || current_user.is_anonymous) else loaded">
            <!-- <li> -->
              <a class="btn btn-outline bg-primary" role="button" href="{{opl_login_url}}">
                Sign In
              </a>
          </span>
        
          <ng-template #loaded>
            <span *ngIf="current_user != null && current_user.is_authenticated">
            <!-- Nav Item - User Information -->
              <a class="nav-link dropdown-toggle border-0 small" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{current_user.display_name}}</span>
                <img class="img-profile rounded-circle" width="40" height="40" src="{{current_user.profile_pic}}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" onClick="window.location.reload();" role="button" href="{{opl_logout_url}}" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </span>
          </ng-template>
        

        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation Topbar -->

<!-- Topbar -->
<!-- <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow"> -->

  <!-- Sidebar Toggle (Topbar) -->
  <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button> -->

  <!-- Topbar Search -->
  <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input #searchBox type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="search(searchBox.value)">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form> -->

  <!-- Topbar Navbar -->
  <!-- <span *ngIf="(current_user == null || current_user.is_anonymous) else loaded" class="badge shadow nav-item">
      <a class="btn btn-primary border-0 small" role="button" href="{{opl_login_url}}">
        Sign In
      </a>
  </span>

  <ng-template #loaded>
    <span *ngIf="current_user != null && current_user.is_authenticated">
      <a class="nav-link dropdown-toggle border-0 small" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{current_user.display_name}}</span>
        <img class="img-profile rounded-circle" width="40" height="40" src="{{current_user.profile_pic}}">
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" onClick="window.location.reload();" role="button" href="{{opl_logout_url}}" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </span>
  </ng-template> -->

<!-- </nav> -->
<!-- End of Topbar -->

