<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-center pt-3">
		<h3 class="section-heading">Categories to choose from or directly jump to &nbsp;</h3>
		<a routerLink="/lessonlist" class="btn btn-outline bg-primary btn-xl js-scroll-trigger">Lessons &raquo;</a>
	</div>
	<div class="row mb-4 pt-4">
	    <div class="col-xl-3 py-2 pb-2" *ngFor="let category of categories; let index = index;">
        <app-categorycard [category]="category" [cardcolor]="cardcolors[index % cardcolors.length]" [cardicon]="cardicons[index % cardicons.length]"></app-categorycard>
      </div>
	</div>
	<!-- <div class="d-sm-flex align-items-center justify-content-center pt-3">
		<h3>or directly jump to Lessons ... </h3>
		<a routerLink="/lessonlist" class="btn btn-outline bg-primary btn-xl js-scroll-trigger">Lessons &raquo;</a>
	</div> -->
</div>
