
<div class="container-fluid">
  <!-- end row -->
  <div class="row pt-3">
      <div class="col-xl-3 px-2" *ngFor="let contributor of contributors; let index = index;">
          <div class="text-center card-box shadow border-white">
              <div class="member-card rounded pt-2 px-2">
                 <a [routerLink]="['/profile', contributor.id]" class="notification">
                  <span>
                     <div class="thumb-lg member-thumb mx-auto">
                        <img src="{{contributor.profile_pic}}" onerror="this.onerror=null; this.src='https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'" class="rounded-circle img-thumbnail" width="200" height="200" alt="{{contributor.display_name}}">
                     </div>
                  </span>

                 </a>

                  <div class="pt-lg-4">
                      <h5 routerLink="/profile" class="font-weight-bold text-gray-900"><a [routerLink]="['/profile', contributor.id]">{{contributor.name}}</a></h5>
                  </div>
                  <div class="pb-0 pt-0">
                      <a class="text-gray-900" href="mailto:{{contributor.email}}">{{contributor.email}}</a>
                  </div>

                  <div class="pb-0 pt-1">
                      <p class="text-gray-800">{{contributor.lesson_count}} lessons published</p>
                  </div>


                  <div class="col-auto m-0">
                     <h5> <span class="badge badge-pill badge-primary">{{contributor.skills[0]}}</span> </h5>
                 </div>
             </div>
           </div>
     </div>
  </div>
</div>
