<!-- <div class="container-fluid"> -->

  <!-- header -->
  <!-- <app-header></app-header> -->

  <!-- testing the home page -->

  <!-- routes will be rendered here -->
  <!-- <router-outlet></router-outlet> -->



  <!-- footer -->
  <!-- <app-footer></app-footer> -->

<!-- </div> -->

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- sidebar -component -->
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

      <!-- TopBar Component-->
      <app-topbar></app-topbar>

      <router-outlet></router-outlet>

    </div>
    <!-- Main Content: END -->
  </div>
  <!-- Content Wrapper: END -->
</div>
<!-- Page Wrapper: END -->
