<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/starthere">
    <div class="sidebar-brand-icon rotate-n-15">
      <a routerLink="/starthere"> <img src="../assets/img/LogoOPL.png" width="40" height="40" class="js-scroll-trigger" alt="OPL"> </a>
      <!-- <i class="fas fa-laugh-wink"></i> -->
    </div>
    <div class="sidebar-brand-text mx-3">OPL
      <!-- <sup>Dash</sup> -->
   </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Content
  </div>

  <!-- Nav Item - Categories -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/categorylist">
      <i class="fas fa-fw fa-table"></i>
      <span> Categories</span></a>
  </li>

  <!-- Nav Item - Lessons -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/lessonlist">
      <i class="fas fa-fw fa-file-video"></i>
      <span> Lessons</span></a>
  </li>

  <!-- Nav Item - Search -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/search">
      <i class="fas fa-fw fa-search"></i>
      <span> Search</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/contributors">
      <i class="fas fa-fw fa-users"></i>
      <span> Contributors</span></a>
  </li>

  <!-- Nav Item - Privacy -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/privacy">
      <i class="fas fa-address-card"></i>
      <span> Privacy</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">


  <!-- Divider -->
  <!-- <hr class="sidebar-divider d-none d-md-block"> -->

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
