<main role="main">
	<div class="container home">
		<!-- Example row of columns -->
		<div class="row ml-4">
			<!-- <div class="col-md-4 ">
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Top Categories</h4>
					</div>
					<div class="card-body">
							<div class="pl-2 pt-2" *ngFor="let category of categories">
									<h4>{{category.name}}</h4>
									<div class="pl-4" *ngFor="let sub_category of category.sub_categories; let i = index;">
										<div *ngIf="i < 3">
											<p><a href="#">{{sub_category.name}}</a></p>
										</div>
										<div *ngIf="i == 3">
											<p><a class="btn btn-secondary btn-outline-secondary" href="#" role="button">More &raquo;</a></p>
										</div>
									</div>
							</div>
					 <button type="button" class="btn btn-lg btn-block btn-secondary">All Categories&raquo;</button>
					</div>
	      	</div>
			</div> -->

         <div class="col-md-12 border rounded overflow-hidden">

               <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Top Lessons of the week</h4>
               </div>

               <div class="card-body">

                  <div class="col border" *ngFor="let lesson of top_lessons">
                     <div class="row justify-content-start">
                        <div class="col-auto p-2 m-0">
                           <img src="https://img.youtube.com/vi/{{lesson.youtube_url}}/maxresdefault.jpg" alt="Loading..." width="192" height="108">
                        </div>
                        <div class="col-9 p-2 m-0" >
                           <div class="row">
                              <div class="col-auto px-2 py-0 m-0">
                                 <h5>{{lesson.name}} </h5>
                              </div>
                              <div class="col-auto px-2 py-0 m-0 text-muted">
                                 <p>{{lesson.author_name}} </p>
                              </div>
                              <div class="col-auto px-2 py-0 m-0 text-muted">
                                 <p>{{lesson.published_timestamp}} </p>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-12 px-2 py-0 m-0">
                                 <p>{{lesson.description}} </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

         </div>
      </div>
   </div>
</main>
