<div class="px-5 pt-2 pb-5 page-cover">
   <a routerLink="/starthere"> <img src="../assets/img/LogoOPL.png" width="40" height="40" class="js-scroll-trigger" alt="OPL"> </a>
   &nbsp;&nbsp;
   <a class="" routerLink="/starthere"><i class="fas fa-backspace"></i> ... let's go back to OPL</a>                    
</div>
<!-- Begin Page Content -->
<div class="container-fluid page-head">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-center pt-3">
      <h2 class="section-heading">Lessons</h2>
   </div>

   <!-- Content Row & lesson loop-->
   <div class="row-auto mb-0 pt-3" *ngFor="let lesson of top_lessons">
      <app-lessoncard [lesson]="lesson"></app-lessoncard>
   </div>
   <!-- Content Row & lesson loop: END -->
</div>
