<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="jumbotron">

      <h1 class="display-4 text-center">Online Peer Learning</h1>
      <h4 class="display-7 text-center">Online Hub for collborative Peer Learning</h4>
      <p class="pt-3">Learn or teach anywhere using OPL!
         <br>You can join us today to make academic videos to teach people all aroud the world about your skills and passions.
         OPL is organized in learning categories &raquo; sub-categories &raquo; lessons. You can share your code, videos, or other information with your peers.
         <br>Have fun!</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/categorylist" role="button">Start Learning Now &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <!-- <div class="row">
      <div class="col-md-4">
        <h2>All Categories</h2>
        <p>Science</p>
        <p>Math</p>
        <p>Music</p>
        <p>Top Categories of the week: </p>
        <p><a class="btn btn-secondary" href="/home" role="button">More Categories &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sub Categories</h2>
        <p>Integrated Science-1</p>
        <p>Math-2</p>
        <p>Biology-1</p>
        <p>Top Sub-Categories of the week:  </p>
        <p><a class="btn btn-secondary" href="#" role="button">More Sub Categories&raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Lessons</h2>
        <p>Top Lessons of the week: <p>
        <p>Leaning to play trumbone<p>
        <p>Making Calculus Simple<p>
        <p>C++ Basics<p>
        <p><a class="btn btn-secondary" href="#" role="button">More Lessons &raquo;</a></p>
      </div>
    </div> -->

    <hr>
  </div> <!-- /container -->
</main>
