<!-- Top Bar for Single Page Only-->
<app-topbar></app-topbar>

<header class="masthead">
   <div class="container h-100">
     <div class="row h-100">
       <div class="col-lg-7 my-auto">
         <div class="header-content mx-auto">
           <h1 class="mb-5">Online Peer Learning is an online hub for collborative peer learning! </h1>
           <h2 class="mb-4">OPL is organized in learning categories &raquo; sub-categories &raquo; lessons. Have fun!</h2>
           <a href="#categories" class="btn btn-outline btn-xl js-scroll-trigger">Start Learning Now &raquo;</a>
         </div>
       </div>
       <div class="col-lg-5 my-auto">
         <div class="device-container">
           <div class="device-mockup iphone6_plus portrait white">
             <div class="device">
               <div class="screen">
                 <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                 <!-- <img src="../assets/img/demo-screen-1.jpg" class="img-fluid" alt=""> -->
                 <img src="../assets/img/LogoOPL.png" class="img-fluid" alt="">
               </div>
               <div class="button">
                 <!-- You can hook the "home button" to some JavaScript events or just remove it -->
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </header>

 <section class="" id="categories">
   <app-categorylist></app-categorylist>
 </section>

 <section class="" id="search">
  <app-lessonsearch></app-lessonsearch>
</section>

 <section class="cta" id="team">
   <app-contributors></app-contributors>
 </section>

 <section class="join text-center bg-primary" id="join">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Sign Up and start sharing!</h2>
        <!-- <p>Our app is available on any mobile device! Download now to get started!</p>-->
        <p>The more students we gain to teach the community, the more skills we will have to share. Join today and make some videos!</p>
        <p> <a class="btn btn-outline bg-primary btn-xl js-scroll-trigger" href="https://docs.google.com/forms/d/e/1FAIpQLSeIV_LpAsqhoty_ki4xmOwyXoALlFaTiE70SsJ7IUmaowGLqA/viewform?usp=sf_link" role="button">Join</a></p>
        <div class="badges">
          <!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="" id="privacy">
  <app-privacy></app-privacy>
</section>

 <!-- <div class="row">
   <div class="col m-3 my-auto">
       <h1 class="text-center" style="color:#2F5EC4"> <i class="fas fa-graduation-cap fa-3x"></i> </h1>
   </div>
   <div class="col m-3">
       <h2 class="text-center text-gray-900">Sign Up!</h2>
       <p class="text-center text-gray-800">The more students we gain to teach the community, the more skills we will have to share. Join today and make some videos!</p>
       <p class="text-center"> <a class="btn btn-primary btn-lg" style="background-color:#2F5EC4" href="https://docs.google.com/forms/d/e/1FAIpQLSeIV_LpAsqhoty_ki4xmOwyXoALlFaTiE70SsJ7IUmaowGLqA/viewform?usp=sf_link" role="button">Join</a></p>
   </div>
</div> -->

 <!-- <section class="features" id="features">
   <div class="container">
     <div class="section-heading text-center">
       <h2>Unlimited Features, Unlimited Fun</h2>
       <p class="text-muted">Check out what you can do with this app theme!</p>
       <hr>
     </div>
     <div class="row">
       <div class="col-lg-4 my-auto">
         <div class="device-container">
           <div class="device-mockup iphone6_plus portrait white">
             <div class="device">
               <div class="screen"> -->
                 <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                 <!-- <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
               </div>
               <div class="button"> -->
                 <!-- You can hook the "home button" to some JavaScript events or just remove it -->
               <!-- </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-8 my-auto">
         <div class="container-fluid">
           <div class="row">
             <div class="col-lg-6">
               <div class="feature-item">
                 <i class="icon-screen-smartphone text-primary"></i>
                 <h3>Device Mockups</h3>
                 <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="feature-item">
                 <i class="icon-camera text-primary"></i>
                 <h3>Flexible Use</h3>
                 <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-lg-6">
               <div class="feature-item">
                 <i class="icon-present text-primary"></i>
                 <h3>Free to Use</h3>
                 <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="feature-item">
                 <i class="icon-lock-open text-primary"></i>
                 <h3>Open Source</h3>
                 <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>  

 <section class="cta">
   <div class="cta-content">
     <div class="container">
       <h2>Stop waiting.<br>Start sharing.</h2>
       <a href="#join" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
     </div>
   </div>
   <div class="overlay"></div>
 </section>

 <section class="contact bg-primary" id="contact">
   <div class="container">
     <h2>We
       <i class="fas fa-heart"></i>
       new friends!</h2>
     <ul class="list-inline list-social">
       <li class="list-inline-item social-twitter">
         <a href="#">
           <i class="fab fa-twitter"></i>
         </a>
       </li>
       <li class="list-inline-item social-facebook">
         <a href="#">
           <i class="fab fa-facebook-f"></i>
         </a>
       </li>
       <li class="list-inline-item social-google-plus">
         <a href="#">
           <i class="fab fa-google-plus-g"></i>
         </a>
       </li>
     </ul>
   </div>
 </section> -->

<!-- <main role="main">

  <div class="container-fluid">
    <div class="jumbotron pb-4">

      <h1 class="display-3 text-center text-gray-900">Online Peer Learning</h1>
      <h4 class="text-center text-gray-800 pb-2">Online hub for collborative peer learning! </h4>
      <p class="text-center text-gray-800">
     OPL is organized in learning categories &raquo; sub-categories &raquo; lessons.
     Have fun!</p>
      <p class="text-center"><a class="btn btn-primary btn-lg" routerLink="/categorylist" role="button">Start Learning Now &raquo;</a></p>
    </div>
  </div>



  <div class="row">
     <div class="col mx-3">
        <h2 class="text-center text-gray-900">What is OPL?</h2>
        <p class="text-center text-gray-800">Online Peer Learning (OPL) is a community of students who share their skills online to educate anyone in need of academic help.
           Students can join us to make academic videos to teach people all around the world about their skills and passions.
           You can share your code, videos, or other information with your peers.
           Our objective is to help the community by sharing the knowledge we have with others.
           With the use of the internet, it will allow us to share our knowledge with an infinite number of people instantly.
           In all, Online Peer Learning strives to foster a community of determined students who are willing to learn from each other and teach the world.
       </p>
     </div>
     <div class="col m-3 my-auto">
        <h1 class="text-center" style="color:#45A5F5"> <i class="fas fa-chalkboard-teacher fa-3x"></i> </h1>
     </div>
  </div>

  <div class="row">
     <div class="col m-3 my-auto">
        <h1 class="text-center" style="color:#4486F4"> <i class="fas fa-check-circle fa-3x"></i> </h1>
     </div>
     <div class="col mx-3">
        <h2 class="text-center text-gray-900">Why choose OPL?</h2>
        <p class="text-center text-gray-800">Why choose OPL over other educational websites? One of the main reasons that makes OPL unique is that we offer education from other students. Our target demographic for our videos are for people just like us, students that are eager to learn. Amidst this pandemic, more teaching is taught online, with parents now needing to balance their job and kids. There is always something new to learn to keep those students engaged. Everyone should have a resource to use their disposal. At different ages, everyone learns differently. You can relate to the subject better if it is taught by someone your age because they have both gone through the same difficulties. In addition, peer-to-peer learning reduces the fear of judgement and increases confidence with other learners. We will be able to closely relate to our audience because we are students just like them, trying to learn more every day.
        </p>
     </div>
  </div>

  <div class="row">
     <div class="col m-3 my-auto">
         <h2 class="text-center text-gray-900">Introduction to Online Peer Learning</h2>
         <p class="text-center text-gray-800">
Shaurya Raswan explains what Online Peer Learning is and the deployment of most websites. Checkout the front-end code <a href="https://github.com/BiggBird/OPL" target="_blank">here</a> and the back-end code <a href="https://github.com/mraswan/opl_microservice" target="_blank">here</a>!
         </p>
     </div>
     <div class="col m-3 py-5 my-auto text-center">
        <div class="ml-0 embed-responsive embed-responsive-16by9">
        <youtube-player
          videoId="E6kAyqsPbkk"
          suggestedQuality="highres"

         >
        </youtube-player>
        </div>
     </div>
  </div>

  <div class="row">
     <div class="col m-3 my-auto">
         <h1 class="text-center" style="color:#2F5EC4"> <i class="fas fa-graduation-cap fa-3x"></i> </h1>
     </div>
     <div class="col m-3">
         <h2 class="text-center text-gray-900">Sign Up!</h2>
         <p class="text-center text-gray-800">The more students we gain to teach the community, the more skills we will have to share. Join today and make some videos!</p>
         <p class="text-center"> <a class="btn btn-primary btn-lg" style="background-color:#2F5EC4" href="https://docs.google.com/forms/d/e/1FAIpQLSeIV_LpAsqhoty_ki4xmOwyXoALlFaTiE70SsJ7IUmaowGLqA/viewform?usp=sf_link" role="button">Join</a></p>
     </div>
  </div>
</main> -->
