/* .jumbotron {
   margin-left: -30px!important;
   margin-right: -30px!important;
   background-image: url('../assets/img/jumbotronimage.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -5px -50px;
} */
/* * {
  color: white;
} */
