<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="jumbotron pt- pb-4">

      <h1 class="display-3 text-center text-gray-900">Online Peer Learning</h1>
      <h4 class="text-center text-gray-800 pb-2">Online hub for collborative peer learning! </h4>
      <p class="text-center text-gray-800">
     OPL is organized in learning categories &raquo; sub-categories &raquo; lessons.
     Have fun!</p>
      <p class="text-center"><a class="btn btn-primary btn-lg" routerLink="/categorylist" role="button">Start Learning Now &raquo;</a></p>
    </div>
  </div>



  <div class="row">
     <div class="col mx-3">
        <h2 class="text-center text-gray-900">What is OPL?</h2>
        <p class="text-center text-gray-800">Online Peer Learning (OPL) is a community of students who share their skills online to educate anyone in need of academic help.
           Students can join us to make academic videos to teach people all around the world about their skills and passions.
           You can share your code, videos, or other information with your peers.
           Our objective is to help the community by sharing the knowledge we have with others.
           With the use of the internet, it will allow us to share our knowledge with an infinite number of people instantly.
           In all, Online Peer Learning strives to foster a community of determined students who are willing to learn from each other and teach the world.
       </p>
     </div>
     <div class="col m-3 my-auto">
        <h1 class="text-center" style="color:#45A5F5"> <i class="fas fa-chalkboard-teacher fa-3x"></i> </h1>
     </div>
  </div>

  <div class="row">
     <div class="col m-3 my-auto">
        <h1 class="text-center" style="color:#4486F4"> <i class="fas fa-check-circle fa-3x"></i> </h1>
     </div>
     <div class="col mx-3">
        <h2 class="text-center text-gray-900">Why choose OPL?</h2>
        <p class="text-center text-gray-800">Why choose OPL over other educational websites? One of the main reasons that makes OPL unique is that we offer education from other students. Our target demographic for our videos are for people just like us, students that are eager to learn. Amidst this pandemic, more teaching is taught online, with parents now needing to balance their job and kids. There is always something new to learn to keep those students engaged. Everyone should have a resource to use their disposal. At different ages, everyone learns differently. You can relate to the subject better if it is taught by someone your age because they have both gone through the same difficulties. In addition, peer-to-peer learning reduces the fear of judgement and increases confidence with other learners. We will be able to closely relate to our audience because we are students just like them, trying to learn more every day.
        </p>
     </div>
  </div>

  <div class="row">
     <div class="col m-3 my-auto">
         <h2 class="text-center text-gray-900">Introduction to Online Peer Learning</h2>
         <p class="text-center text-gray-800">
Shaurya Raswan explains what Online Peer Learning is and the deployment of most websites. Checkout the front-end code <a href="https://github.com/BiggBird/OPL" target="_blank">here</a> and the back-end code <a href="https://github.com/mraswan/opl_microservice" target="_blank">here</a>!
         </p>
     </div>
     <div class="col m-3 py-5 my-auto text-center">
        <div class="ml-0 embed-responsive embed-responsive-16by9">
        <youtube-player
          videoId="E6kAyqsPbkk"
          suggestedQuality="highres"

         >
        </youtube-player>
        </div>
     </div>
  </div>

  <div class="row">
     <div class="col m-3 my-auto">
         <h1 class="text-center" style="color:#2F5EC4"> <i class="fas fa-graduation-cap fa-3x"></i> </h1>
     </div>
     <div class="col m-3">
         <h2 class="text-center text-gray-900">Sign Up!</h2>
         <p class="text-center text-gray-800">The more students we gain to teach the community, the more skills we will have to share. Join today and make some videos!</p>
         <p class="text-center"> <a class="btn btn-primary btn-lg" style="background-color:#2F5EC4" href="https://docs.google.com/forms/d/e/1FAIpQLSeIV_LpAsqhoty_ki4xmOwyXoALlFaTiE70SsJ7IUmaowGLqA/viewform?usp=sf_link" role="button">Join</a></p>
     </div>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <!-- <div class="row">
      <div class="col-md-4">
        <h2>All Categories</h2>
        <p>Science</p>
        <p>Math</p>
        <p>Music</p>
        <p>Top Categories of the week: </p>
        <p><a class="btn btn-secondary" href="/home" role="button">More Categories &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sub Categories</h2>
        <p>Integrated Science-1</p>
        <p>Math-2</p>
        <p>Biology-1</p>
        <p>Top Sub-Categories of the week:  </p>
        <p><a class="btn btn-secondary" href="#" role="button">More Sub Categories&raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Lessons</h2>
        <p>Top Lessons of the week: <p>
        <p>Leaning to play trumbone<p>
        <p>Making Calculus Simple<p>
        <p>C++ Basics<p>
        <p><a class="btn btn-secondary" href="#" role="button">More Lessons &raquo;</a></p>
      </div>
    </div> -->

   
  </div> <!-- /container -->
</main>
