<div class="row p-0">
    <div class="col-md-12 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                       <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h3 class="mt-0 mb-0">Mark Williams</h3>
                        <p href="mailto: shauryaraswan@gmail.com" class="small mb-4">will@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="bg-white p-3 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item px-3">
                        <h5 class="font-weight-bold text-gray-800 mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Videos</small>
                    </li>
                    <li class="list-inline-item px-3">
                        <h5 class="font-weight-bold text-gray-800 mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Views</small>
                    </li>
                    <li class="list-inline-item px-3">
                        <h5 class="font-weight-bold text-gray-800 mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Likes</small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-1 font-weight-bold text-gray-900">About</h5>
                <div class="p-3 rounded shadow-sm bg-light">
                    <p class="font-italic text-gray-800 mb-0">Web Developer</p>
                    <div class="row pt-2">
                    <div class="col-auto">
                        <h4> <span class="badge badge-pill badge-primary">Python</span> </h4>
                    </div>

                     </div>
                </div>
            </div>
            <div class="py-2 px-4">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <h5 class="mb-0 font-weight-bold text-gray-900">Recent videos</h5>
                </div>
                <div class="row px-2 mb-0 pt-0" >
                  <!-- <div class="col-xl-3 col-md-6 mb-4"> add *ngFor="let lesson of top_lessons"-->
                  <div class="card bg-dark text-white rounded">
                     <img class="rounded ex1" src="https://img.youtube.com/vi/Af1vIftmbVA/maxresdefault.jpg" alt="Loading...">
                    <div class="card-img-overlay">
                      <h3 class="card-title font-weight-bold ">Video</h3>
                      <h5 class="card-text font-weight-bold ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h5>
                      <p class="card-text ">Published on</p>
                    </div>
                  </div>
                     <!-- lesson card : END -->
                   </div>

                 <!-- <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                 <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                 <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                 <div class="col-lg-6 pl-lg-1"><img src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div> -->

            </div>
        </div>
    </div>
</div>
