/* You can add global styles to this file, and also import other style files */

.jumbotron {
   margin-left: -30px!important;
   margin-right: -30px!important;
   background-image: url('./assets/img/jumbotronimage.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -5px -50px;
}

/* .category-list-cls {
   margin-left: -30px!important;
   margin-right: -30px!important;
   background-image: url('./assets/img/jumbotronimage.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -5px -50px;
} */

/* html * {
	font-family: Georgia, serif !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

body {
    font-size: 1em;
}


li.dropdown:hover > .dropdown-menu {
    display: block;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 130px;
    position: fixed;
    top: 55px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #66ccff;
    color: #fff;
    transition: all 0.3s;
}
.navbar {
	background: #1ab2ff;
}



#sidebar.active {
    margin-left: -250px;
}



#sidebar ul li a {
    padding: 15px;
    font-size: 1em;
    display: block;
}



ul ul a {

    padding-left: 20px !important;
    background: #66ccff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
} */
