<main role="main">
	<div class="container home">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Top Categories:</h2>
				<div *ngFor="let category of categories">
						<h3>{{category.name}}</h3>
						<div *ngFor="let sub_category of category.subCategories; let i = index;">
							<div *ngIf="i < 3">
								<p><a href="#">{{sub_category.name}}</a></p>
							</div>
							<div *ngIf="i == 3">
								<p><a class="btn btn-secondary btn-outline-secondary" href="#" role="button">More &raquo;</a></p>
							</div>
						</div>
				</div>
				<p><a class="btn btn-secondary" href="#" role="button">All Categories&raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>All Categories:</h2>
				<div *ngFor="let category of categories">
						<h3>
						<a href=#{{category.name}}>{{category.name}}</a>
						</h3>
						<div *ngFor="let sub_category of category.subCategories; let i = index;">
								<p><a href="#">{{sub_category.name}}</a></p>
						</div>
				</div>
				<p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Top Lessons of the week: </h2>
				<p>Top Lessons of the week: <p>
				<p>Leaning to play trumbone<p>
				<p>Making Calculus Simple<p>
				<p>C++ Basics<p>
				<p><a class="btn btn-secondary" href="#" role="button">More Lessons &raquo;</a></p>
			</div>
		</div>
	</div>
</main>

<!-- <ul class="list-unstyled components">
		<li *ngFor="let category of categories" class="active">
				<a href=#{{category.name}} data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{category.id}} - {{category.name}}</a>
				<ul id={{category.name}} class="collapse list-unstyled">
						<li *ngFor="let sub_category of category.subCategories" class="active">
								<a href="#">{{sub_category.name}}</a>
						</li>
				</ul>
		</li>
</ul> -->
