<main role="main">
	<div class="container home">
		<div class="row ml-4">
			<div class="col-md-4 ">
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Top Categories</h4>
					</div>
					<div class="card-body">
							<div class="pl-2 pt-2" *ngFor="let category of categories">
									<h4>{{category.name}}</h4>
									<div class="pl-4" *ngFor="let sub_category of category.sub_categories; let i = index;">
										<div *ngIf="i < 3">
											<p><a href="#">{{sub_category.name}}</a></p>
										</div>
										<div *ngIf="i == 3">
											<p><a class="btn btn-secondary btn-outline-secondary" href="#" role="button">More &raquo;</a></p>
										</div>
									</div>
							</div>
					 <button type="button" class="btn btn-lg btn-block btn-secondary">All Categories&raquo;</button>
					</div>
	      	</div>
			</div>

			<div class="col-md-8 border rounded overflow-hidden">
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Top Lessons of the week</h4>
					</div>
					<div class="card-body">
						<div class="pl-2 pt-2" *ngFor="let lesson of top_lessons">

						</div>
						<div class="col" *ngFor="let lesson of top_lessons">
			  				<div class="ml-30 embed-responsive embed-responsive-16by9">
			  					<!-- <youtube-player
			  					  videoId={{lesson.youtube_url}}
			  					  suggestedQuality="highres"
			  						*ngIf=lesson.youtube_url
									>

			  					</youtube-player> -->
			  				</div>
							<p>{{lesson.description}} </p>
							<p>{{lesson.git_url}} </p>
							<p>{{lesson.published_timestamp}} </p>
							<p>{{lesson.author_name}} </p>
			  			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
